<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: header"></header>
</head>
<body>
<h1>Add Transaction</h1>

<form method="post" style="max-width:600px;">

    <div class="form-group">
        <label th:for="employer">User</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.username}"
                    th:value="${user.id}"></option>
        </select>
        <a th:href="@{'/users/add'}">Add Users</a>
    </div>

    <div class="form-group">
        <label th:for="user">Security</label>
        <input class="form-control" th:field="${transaction.security}" />
        <span th:errors="${transaction.security}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="user">Date</label>
        <input class="form-control" th:field="${transaction.date}" />
        <span th:errors="${transaction.date}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="user"># of Shares</label>
        <input class="form-control" th:field="${transaction.shares}" />
        <span th:errors="${transaction.shares}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="user">Cost per share</label>
        <input class="form-control" th:field="${transaction.cost}" />
        <span th:errors="${transaction.cost}" class="error"></span>
    </div>

    <input type="submit" value="Add Transaction" />
</form>

</body>
</html>