<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <header th:replace="fragments :: header"></header>
</head>
<body>
<h1 class ="container p-5 my-5">Add Transaction</h1>
<form method="post" style="max-width:600px" class ="container p-5 my-5">
    <div class="form-group">
        <label th:for="user">User</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.username}"
                    th:value="${user.id}"></option>
        </select>
        <a th:href="@{'/register'}">Add User</a>
    </div>
    <div class="form-group">
        <label th:for="security">Security</label>
        <select name="securityId">
            <option th:each="security : ${securities}"
                    th:text="${security.securityName}"
                    th:value="${security.id}"></option>
        </select>
        <a th:href="@{'/add-security'}">Add Security</a>
    </div>
    <div class="form-group">
        <label th:for="date">Date</label>
        <input class="form-control" th:field="${transaction.date}" />
        <span th:errors="${transaction.date}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="shares"># of Shares</label>
        <input class="form-control" th:field="${transaction.shares}" />
        <span th:errors="${transaction.shares}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="cost">Cost per share</label>
        <input class="form-control" th:field="${transaction.cost}" />
        <span th:errors="${transaction.cost}" class="error"></span>
    </div>
    <p></p>
    <input type="submit" value="Add Transaction" />
</form>
</body>
</html>