<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">



</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="nav-bar-header">
                <a th:href="@{/}" class="navbar-brand">CNV Investment</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a> th:href="@{/investors}"</a>Investors</li>
                    <li><a> th:href="@{/fund-managers}"</a>Fund Managers</li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>