<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <header th:replace="fragments :: header"></header>

    <style>
        body {
            background: #3C3B3F;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <p></p>
            <p>Portfolio</p>
            <p><a class="nav-link" th:href="@{/transactions}">Transactions</a></p>
            <p><a class="nav-link" th:href="@{/logout}">Logout</a></p>
        </div>
        <div class="col-sm-6">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Security</th>
                    <th># of Shares</th>
                    <th>Cost Price</th>
                    <th>Current Price</th>
                    <th>Invested Capital</th>
                    <th>Present Value</th>
                    <th>Return</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.security.securityName}"></td>
                    <td th:text="${transaction.shares}"></td>
                    <td th:text="${transaction.cost}"></td>
                    <td></td>
                    <td th:text="${transaction.cost * transaction.shares}"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7000</td>
                    <td>11000</td>
                    <td>4000/57%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

</body>
</html>